a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .9rem 1.5rem 1.1rem;
    position: sticky;
    // background-color: #101518;
    background-color: #0e1212;
    z-index: 1000;
    top: 0;
}

nav span {
    margin-left: 20px;
}

nav span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color: #682ae9;
    text-decoration: underline;
    text-decoration-color: #682ae9;
}

#experiences {
    color: inherit;
}

#extracurriculars {
    color: inherit;
}

#projects {
    color: inherit;
}